  /* ==UserStyle==
  @name           nopeless discord theme
  @namespace      github.com/nopeless/config
  @version        0.1.5
  @description    Discord theme I use
  @author         nopeless
  ==/UserStyle== */
  @-moz-document domain("discord.com") {
    @font-face {
      font-family: "Choco Cooky Online";
      src: url(https://github.com/nopeless/config/raw/main/fonts/choco-cooky/Choco%20cooky%20Regular.ttf);
    }

    .theme-dark {
      --font-primary: "Choco Cooky", "Choco Cooky Online", "Comic Sans", "Comic Sans Ms";
      --font-display: var(--font-primary);
      /* chat background */
      --background-primary: #120710;
      /* channels background */
      --background-secondary: #120710;
      --background-modifier-selected: #9f356966;

      /* white half dots next to unread channels and their names */
      --interactive-active: #c0f9ff;
      --interactive-hover: #bfeef3;
      --interactive-muted: #3f4d4f6b;
      --interactive-normal: #ddedee;

      /* profile under channels */
      --background-secondary-alt: #120710;
      /* server selection background */
      --background-tertiary: #120710;

      /* right click menu */
      --background-floating: #120710;

      /* popup e.g. click channel topic */
      --modal-background: #120710;

      /* 10 New messages */
      --text-brand: #f9a0b6;

      --home-background: #120710;

      --mention-foreground: white;
      --mention-background: rgba(255, 183, 190, .66);

      --background-mentioned: rgba(255, 0, 210, .17);
      --background-mentioned-hover: rgba(255, 0, 210, .25);
      /* left orange vertical bar for mentions */
      --info-warning-foreground: purple;

      /* this provides divider color */
      --status-danger: #9b3d9b;

      --font-code: "Fira Code", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

      /* Certain badge icons */
      --text-positive: #ff8298;

      /* message input field */
      --channeltextarea-background: #1e1218;
      --input-background: #281921;
      /* Message #general */
      --channel-text-area-placeholder: #ccc;

      /* menu select */
      --brand-experiment-560: #cc919c;
      /* invite people icon color */
      --brand-experiment-360: pink;
      /* +unread messages */
      --brand-experiment: #bd8891;

      /* icon colors */
      --brand-500: #ea4aa2;

      /* button colors */
      --button-outline-positive-text: pink;
      --button-outline-positive-border: white;

      --button-outline-positive-background-active: #ca7bbb;
      --button-outline-positive-border-active: #ec93df;

      --button-positive-background: #aa717b;
      --button-positive-background-disabled: #a0777e;
      --button-positive-background-active: #d99aa5;
      --button-positive-background-hover: #d99aa5;

      --button-outline-danger-border: #c10069;
      --button-outline-danger-border-hover: #ec2691;
      --button-outline-danger-background-hover: #e31e8a;
      --button-outline-danger-border-active: #ff3ca6;
      --button-outline-danger-background-active: #b31169;
      --button-danger-background: #860040;


      /* mention tab */
      --primary-630: #22101a;

      /*   --scrollbar-auto-scrollbar-color-thumb: white; */
      /*   --scrollbar-auto-scrollbar-color-track: white; */
      /* scroll bar pill */
      --scrollbar-auto-thumb: #ffd8d8;
      --scrollbar-auto-track: #371224;
      /*   --scrollbar-thin-thumb: white; */
      /*   --scrollbar-thin-track: white; */
      /* selected tab color */
      --control-brand-foreground: #ffe5ea;



      /* misc */
      /* loading cube square rotating color */
      --brand-experiment-400: pink;

      /* menu click active */
      --brand-experiment-600: pink;
      --text-link: #a462a4;
    }

    ::selection {
      color: var(--background-primary);
      background: #ca7cca;
    }

    code {
      --background-secondary: #271025;
    }

    .mainCard-3KBsBI {
      --background-primary: #271025;
    }

    /* ===== Fixes ===== */
    div.layerContainer-2lfOPe {
      overflow: hidden;
    }

    /* ===== other style transforms ===== */
    div.checked-16gMAN {
      background-color: #bd8dbd !important;
    }

    /* user profile */
    div.userPopoutOuter-1OHwPL {
      /*     border: 2px solid #ffb4fa59; */
      /*     border-radius: 10px; */
    }

    /* status icon: online, idle, phone */
    svg.mask-1y0tyc > rect:not([fill=transparent]) {
      fill: pink;
    }
    /* discord has this weird bug, so this is a patch to that bug */
    svg.cursorDefault-2M8ZNp > rect {
      fill: pink;
    }

    /* article backgrounds */
    article.embedWrapper-1MtIDg {
      background: #271025;
    }

    /* article default border-color */
    article.embedWrapper-1MtIDg.embedFull-1HGV2S.embed-hKpSrO.markup-eYLPri {
      border-color: #cf799a !important;
    }

    /* gif favorites background */
    div.categoryFadeBlurple-1l49_Q {
      background-color: var(--button-positive-background) !important;
    }

    div.categoryFadeBlurple-1l49_Q:hover {
      background-color: var(--button-positive-background-hover) !important;
    }


    /* gif search result */
    div.result-pzZrwj[style*="background-color"] {
      background: linear-gradient(to bottom right, #8e3d9e, #ad3e64);
      background-color: transparent !important;
    }

    .keyboardShortcutsModal-2CRmCm {
      background: none;
    }
    
    .searchAnswer-23w-CH, .searchFilter-2UfsDk {
      background: none !important;
    }

    /* gif star */
    svg.icon-1m_PLf {
      color: #ee69ee;
    }

    div.colorDanger-3umuSx:active:not(.hideInteraction-1vQrZJ) {
      background-color: var(--button-outline-danger-background-hover);
    }

    /* ===== drag n drop ===== */
    div.banner-1YaD3N.popoutBanner-3cqRD9 {
      cursor: grab;
    }

    /* ===== text transforms ===== */
    h2,
    /* h3, */
    h4,
    h5,
    h6,
    span.unreadPill-3nEWYM,
    /* right click menu sub categories */
    div[role="menu"] > div > div > div > div.label-3CEiKJ,
    div[role="menu"] > div > div > div > div > div.label-3CEiKJ,
    div.text-xs-semibold-GgBYxI {
      text-transform: lowercase !important;
    }


    /* channel categories */
    div.overflow-1wOqNV,
    /* roles */
    h3.membersGroup-2eiWxl {
      text-transform: none;
    }

    /* ===== mechanical transforms ===== */
    span.unreadPill-3nEWYM {
      border-radius: 0;
      top: 0px;
      padding: 0 5px 2px 5px;
      height: 15px;
      /*   transform: translateY(100%); */
    }

    /* pill shape */
    span.unreadPill-3nEWYM > svg {
      display: none;
    }

    /* highlights */
    div[role="menu"] > div > div > div > div > div.label-3CEiKJ {
      border-bottom: 1px dashed white;
    }

    div.scroller-15bIdk {
      max-height: 300px;
    }

    div.groupStart-3Mlgv1:has(div.blockedSystemMessage-3FmE9n) {
      display: none;
    }

    /* hide buttons */
    div.buttons-uaqb-5 {
      display: none;
    }

    /* allow jumbo emotes on compact */
    div.compact-2Nkcau .messageContent-2t3eCI .emoji.jumboable {
      width: 3rem;
      height: 3rem;
    }

    /* fix header for jumbo change above */
    h3.header-2jRmjb {
      vertical-align: top;
    }

    /* ===== message send area & scroller changes ===== */
    /* compact messaging */
    div.scroller-kQBbkU {
            margin-bottom: 60px;
    }
    form.form-3gdLxP {
      background: none;
      /*       position: absolute; */
      margin-top: -128px;
      /* padding-right: 30px; */
      bottom: 0;
      width: 100%;
      padding-right: 20px;
      margin-left: 0px;
      box-sizing: border-box;
    }
    form.form-3gdLxP::before {
      display: none;
    }
/*     div.scrollableContainer-15eg7h:has(div.placeholder-1rCBhr){
      background: none;
      opacity: 0.2
    } */
/*     div.scrollableContainer-15eg7h:has(div:focus) {
      background: none;
      opacity: 0.2
    } */
    div.scrollableContainer-15eg7h {
      background: linear-gradient(90deg, rgb(58, 2, 28) 0%, rgb(42, 9, 54) 54%, rgb(14, 6, 28) 100%);
    }
/*     
    div:focus {
      border: red 1px solid !important;
    } */
/*     div.scrollableContainer-15eg7h:has(div:focus) {
      background: var(--channeltextarea-background);
      opacity: 1;
    } */
    div.inner-NQg18Y,
    div.channelTextArea-1FufC0.channelTextArea-1VQBuV {
      background: none;
    }
    div.scrollerSpacer-3AqkT9 {
            height: 100px;
    }

    /* ===== text changes ===== */
    div.placeholder-1rCBhr {
      text-transform: lowercase;
      color: rgba(255, 255, 255, 0.3);
    }

    div.placeholder-1rCBhr:before {
      display: inline;
      content: "owo ";
    }

    /* ===== image changes ===== */
    /* joined arrow */
    div.icon-JRJzJz.iconSize-Ai8Wtu {
      filter: hue-rotate(180deg);
    }

    /* announcement channel bird house */
    img.image-3FliiM {
      filter: saturate(70%) hue-rotate(100deg);
    }

    /* # badge */
    img.profileBadge22-3GAYRy.profileBadge-12r2Nm {
      filter: sepia(100%) hue-rotate(160deg) saturate(200%);
    }

    /* QOL changes */
    span.username-h_Y3Us[style="color: rgb(0, 0, 1);"] {
      color: white !important;
    }

    div.sidebar-1tnWFu.collapsed {
      display: none;
    }
  }
